{{ 'product_hotsite.css' | asset_url | stylesheet_tag }}

<div class="page-width">
    <div class="product-hotsite">
        {% for block in section.blocks %}
            {% if block.type == 'product_hotsite_banner' %}
                <div class="product-hotsite-banner">
                    <div class="product-hotsite-banner__image">
                        {{ block.settings.hotsite_banner_image | image_url: width: "1216" | image_tag }}
                    </div>
                </div>
            {%- endif -%}
        {% endfor %}
    </div>
</div>

{% schema %}
{
  "name": "Product Hotsite Banners",
  "tag": "section",
  "class": "product-hotsite",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "product_hotsite_banner",
      "name": "Banner do Hotsite",
      "settings": [
        {
          "type": "image_picker",
          "id": "hotsite_banner_image",
          "label": "Ícone"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Hotsite Banners"
    }
  ]
}
{% endschema %}