<div id="_trustvox_widget" class="lalala"></div>


{% schema %}
{
  "name": "Trustvox PDP",
  "tag": "section",
  "class": "trustvox-pdp",
  "settings": [
    
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Trustvox PDP",
    }
  ]
}
{% endschema %}