@charset "UTF-8";
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-close, .cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-popup__header {
  display: none !important;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-popup__earned, .cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-popup__more {
  display: none !important;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-popup__earned::before, .cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-popup__more::before {
  content: none !important;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offer-progress-percent, .cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-popup__continue {
  display: none !important;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-info-text-main {
  margin-bottom: 1rem;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card {
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card .docapp-promo-offer-progress-bar-current {
  height: 6px;
  display: block;
  border-radius: 20px;
  margin: 0.5rem 0;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card.docapp-promo-offer-card--completed {
  border-color: #e5f2ef !important;
  margin-bottom: 1rem;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card.docapp-promo-offer-card--completed .docapp-promo-offer-progress-bar-current {
  background-color: #007f5f !important;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card.docapp-promo-offer-card--completed:not(:has(.docapp-promo-offer-info-image img)) .docapp-promo-offer-progress {
  flex-basis: 100% !important;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card.docapp-promo-offer-card--completed:not(:has(.docapp-promo-offer-info-image img)) .docapp-promo-offer-info-text-main {
  color: transparent;
  position: relative;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card.docapp-promo-offer-card--completed:not(:has(.docapp-promo-offer-info-image img)) .docapp-promo-offer-info-text-main::after {
  content: "Frete grátis";
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card:not(.docapp-promo-offer-card--completed) .docapp-promo-offer-progress-bar-current {
  background-color: #f1e315 !important;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card .docapp-promo-offer {
  display: flex;
  flex-wrap: wrap;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card .docapp-promo-offer .docapp-promo-offer-info, .cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card .docapp-promo-offer .docapp-promo-offer-progress {
  flex-basis: calc(100% - 90px);
  padding-right: 2rem;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card .docapp-promo-offer .docapp-promo-offer-info-image {
  flex-basis: 90px;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-offer-card .docapp-promo-offer .docapp-promo-offer-info-image img {
  max-width: 100%;
}
.cart-drawer__footer ~ .docapp-promo-popup-container .docapp-promo-offers .docapp-promo-popup__more {
  margin-bottom: 1rem;
}